@tailwind base;
@tailwind components;
@tailwind utilities;

/* Site Wide Sytles Defaults */
body{
  color: #fff;
  background: #000;
  background-image: linear-gradient(115deg, #000 40%, #eb4b4b);
}

.fullpage{
  position:fixed;
  z-index:10;
  top: 0; left: 0; right: 0; bottom: 0;
  transition: all 2.5s ease-out;
}

#background1{
  background-image:linear-gradient(115deg,#000 40%, #e34beb);
  opacity:0;
}
#background2{
  background-image:linear-gradient(115deg,#000 40%, #834beb);
  opacity:0;
}
#background3{
  background-image:linear-gradient(115deg,#000 40%, #4b6ceb);
  opacity:0;
}
#background4{
  background-image:linear-gradient(115deg,#000 40%, #4bafeb);
  opacity:0;
}
#background5{
  background-image:linear-gradient(115deg,#000 40%, #9deb4b);
  opacity:0;
}
#background6{
  background-image:linear-gradient(115deg,#000 40%, #ebe74b);
  opacity:0;
}

#root{
  z-index:20;
  position:relative;
}

@font-face{ 
  font-family:"BananaItalic";
  src: url("./assets/BananasItalicPersonalUseRegular-WyBxO.ttf") format('truetype');
}

h1, h2, h3, h4, h5{
  font-family: 'BananaItalic', sans-serif;
}

/* Site Wide Styles End */

/* Logo Splash Screen */
#logoContainer{
  overflow:hidden;
  position:relative;
}

#splash_logo{
  width:100%;
}
#logoContainer:before {
  content: '';
  position: absolute;
  top: 0;
  left: -100px;
  width: 20px;
  height: 100%;
  background: rgba(0,0,0, 0.3);
  transform: skewX(-30deg);
  animation-name: slide;
  animation-duration: 4s;
  animation-timing-function: ease-in-out;
  animation-delay: 2s;
  animation-iteration-count: infinite;
  background: linear-gradient(
    to right, 
    rgba(0, 0, 0, 0.2) 0%,
    rgba(0, 0, 0, 0.35) 77%,
    rgba(0, 0, 0, 0.7) 92%,
    rgba(0, 0, 0, 0.0) 100%
  );
}

@keyframes slide {
  0% {
    left: -100;
    top: 0;
  }
  20% {
    left: 290px;
    top: 0;
  }
  100% {
    left: 290px;
    top: 0;
  }
}

/* Loading circles */
.loading {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.loading__dot {
  animation: dot ease-in-out 1s infinite;
  background-color: grey;
  display: inline-block;
  border-radius: 50%;
  height: 10px;
  margin: 5px;
  width: 10px;
}

.loading__dot:nth-of-type(2) {
  animation-delay: 0.3s;
}

.loading__dot:nth-of-type(3) {
  animation-delay: 0.5s;
}

@keyframes dot {
  0% { background-color: grey; transform: scale(1); }
  50% { background-color: #fff; transform: scale(1.3); }
  100% { background-color: grey; transform: scale(1); }
}

/* Logo Splash Screen Ends */

/* Fade In Out keyframes for Fade component */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/* Fade End */

/* Title */
#title {
  position: absolute;
  margin: auto 0 auto 2rem;
  width: 70vw;
  height: 140pt;
  top: 0;
  bottom: 0;
  font-size:140pt;
  filter: blur(0.4px);
}

#textWrap{
  filter: url(#threshold) blur(0.4px);
}

#text1,
#text2 {
    position: absolute;
    user-select: none;
}

/* Title Ends */