@tailwind base;
@tailwind components;
@tailwind utilities;

/* Site Wide Sytles Defaults */
body{
  color: #fff;
  background: #000;
  background-image: linear-gradient(115deg, #000 40%, #eb4b4b);
}

.fullpage{
  position:fixed;
  z-index:10;
  top: 0; left: 0; right: 0; bottom: 0;
  transition: all 2.5s ease-out;
}

#background1{
  background-image:linear-gradient(115deg,#000 40%, #e34beb);
  opacity:0;
}
#background2{
  background-image:linear-gradient(115deg,#000 40%, #834beb);
  opacity:0;
}
#background3{
  background-image:linear-gradient(115deg,#000 40%, #4b6ceb);
  opacity:0;
}
#background4{
  background-image:linear-gradient(115deg,#000 40%, #4bafeb);
  opacity:0;
}
#background5{
  background-image:linear-gradient(115deg,#000 40%, #9deb4b);
  opacity:0;
}
#background6{
  background-image:linear-gradient(115deg,#000 40%, #ebe74b);
  opacity:0;
}

#root{
  z-index:20;
  position:relative;
}

@font-face{ 
  font-family:"BananaItalic";
  src: url('./assets/BananasItalicPersonaluse-Regula.eot');
  src: url('./assets/BananasItalicPersonaluse-Regula.eot?#iefix')  format('embedded-opentype'),
       url('./assets/BananasItalicPersonaluse-Regula.woff2') format('woff2'),
       url('./assets/BananasItalicPersonaluse-Regula.woff') format('woff'),
       url("./assets/BananasItalicPersonaluse-Regula.ttf") format('truetype');
  font-display: swap;
}

h1, h2, h3, h4, h5{
  font-family: 'BananaItalic', sans-serif;  
}

/* Site Wide Styles End */

/* Logo Splash Screen */
#logoContainer{
  overflow:hidden;
  position:relative;
}

#splash_logo{
  width:100%;
}
#logoContainer:before {
  content: '';
  position: absolute;
  top: 0;
  left: -100px;
  width: 20px;
  height: 100%;
  background: rgba(0,0,0, 0.3);
  transform: skewX(-30deg);
  animation-name: slide;
  animation-duration: 4s;
  animation-timing-function: ease-in-out;
  animation-delay: 2s;
  animation-iteration-count: infinite;
  background: linear-gradient(
    to right, 
    rgba(0, 0, 0, 0.2) 0%,
    rgba(0, 0, 0, 0.35) 77%,
    rgba(0, 0, 0, 0.7) 92%,
    rgba(0, 0, 0, 0.0) 100%
  );
}

@keyframes slide {
  0% {
    left: -100;
    top: 0;
  }
  20% {
    left: 290px;
    top: 0;
  }
  100% {
    left: 290px;
    top: 0;
  }
}

/* Loading circles */
.loading {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.loading__dot {
  animation: dot ease-in-out 1s infinite;
  background-color: grey;
  display: inline-block;
  border-radius: 50%;
  height: 10px;
  margin: 5px;
  width: 10px;
}

.loading__dot:nth-of-type(2) {
  animation-delay: 0.3s;
}

.loading__dot:nth-of-type(3) {
  animation-delay: 0.5s;
}

@keyframes dot {
  0% { background-color: grey; transform: scale(1); }
  50% { background-color: #fff; transform: scale(1.3); }
  100% { background-color: grey; transform: scale(1); }
}

/* Logo Splash Screen Ends */

/* Fade In Out keyframes for Fade component */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/* Fade End */

/* Title */
#title {
  position: absolute;  
  top: 150px;
  bottom: 200px;
  left:30px;
  right: 30px;
  filter: blur(0.4px);
}

#title h1{
  -ms-transform: translateY(-40%);
    transform: translateY(-40%);
    top: 40%;
    filter: url(#threshold) blur(0.4px);
}

#text1,
#text2 {
    position: absolute;
    user-select: none;
}

/* Title Ends */

/* CTA Container */
#ctaContainer {
  display: grid;
}

.cta {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
}

.cta .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #fff;
  border-radius: 1.625rem;
}
.cta .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #000;
}
.cta .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}
.cta .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.25rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #000;
  border-right: 0.125rem solid #000;
  transform: rotate(45deg);
}
.cta .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: #fff;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
}
.cta:hover .circle,
.cta-mobile .circle {
  width: 100%;
  background-color: #c0ffff;
}
.cta:hover .circle .icon.arrow,
.cta-mobile .circle .icon.arrow {
  background: #000;
  transform: translate(1rem, 0);
}
.cta:hover .button-text,
.cta-mobile .button-text {
  color: #000;
}

/* CTA Container ends */

/* Image Hover effect */
.animate-invert{
  transition: all 0.4s ease;
}
.animate-invert:hover{
  -webkit-filter: sepia(300%) hue-rotate(150deg) saturate(800%);
  -moz-filter:  sepia(300%) hue-rotate(150deg) saturate(800%);
  filter: sepia(300%) hue-rotate(150deg) saturate(800%);
}

/* Image Hover effect ends*/